body{
	font-family: ""
	font-weight:lighter;
	font-family: "Open Sans";
	background:url('/images/bg.png') fixed no-repeat;
	background-size: cover;
}
header{
	background: #f7f655;
}
h2{
	font-size: 30px;
	color: white;
}
.cuisines .cuisine img, .cooks .cook img{
	background:white;
	max-width:initial;
	height:400px;
}
.cuisines .cuisine, .cooks .cook{
	margin-bottom: 30px;
	color: white;
	background: white;
	overflow: hidden;
} 
.cuisines .cuisine h4, .cooks .cook h3{
	margin-top: -50px;
	background: rgba(0,0,0,0.7);
	position: absolute; 
	padding: 10px;
}
.cooks .cook form{
	position: absolute;
	margin-top: -70px;
	right: 30px;
}

.cuisines .cuisine:hover img, .cuisines .cuisine:hover img{
	border-color: white;
}
.cook *{
	color: white;
}
.cook input{
	color: black;
}